# Скомпилированные бинарные файлы Go (исполняемые файлы)
*.exe
*.exe~
*.dll
*.so
*.dylib
go-server

# Локальные переменные окружения и секреты (где ты будешь хранить пароли от Postgres)
.env
config.json

# Временные файлы редакторов кода и отладки
.idea/
.vscode/
*.log